<!--
File Name: aboutmedia.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://robertreynoldsassignment1.azurewebsites.net/
File Description: Partial for About Me Page
-->

<hr class="featurette-divider">

<div class="media">
  <div class="media-left">
      <img class="media-object" src="images/wowlogo.png" height="100px" width="200px" alt="WoW Logo">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Achievements</h4>
    <p>Being apart of a team that obtained a World First End Boss Kill and multiple World Top 10's during World of Warcraft: Mist of Pandaria expansion. (Unit Leader)</p>
    <p>Completing certification and logging over 200 hours of successful UAV flights.</p>
  </div>
</div>
<div class="media">
  <div class="media-left">
      <img class="media-object" src="images/IDEicon.png"" height="100px" width="100px" alt="Office">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Goals</h4>
    <p>Short Term (1-5 Years): Obtain work within an organization that has a highly motivated and challenging environment and promotes individual opportunities to grow.</p>
    <p>Long Term (5-10 Years): Become an experienced Object Oriented Programmer with extensive knowledge of multiple languages and API's. Give back to the programming community by guiding and teaching others.</p>
  </div>
</div>