<hr class="featurette-divider">
<div class="row featurette">
    <div id="feature-picture" class="col-md-5">
        <img src="images/arduino.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Computer Programming.. <span class="text-muted">It's an art.</span></h2>
        <p class="lead">"Computer programming is an art, because it applies accumulated knowledge to the world, because it requires skill and ingenuity, and especially because it produces objects of beauty. A programmer who subconsciously views himself as an artist will enjoy what he does and will do it better." -- Donald Knuth, 1974</p>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7" id="mid-feature">
        <h2 class="featurette-heading">Programming <span class="text-muted">at Georgian College</span></h2>
        <p class="lead">This program is designed to meet the academic needs of all students, whether a recent secondary school graduate, college or university graduate, or a mature student. As students progress through the three years, the courses they take will help them gain insight and experience in the fields in which they may choose to apply their computer skills after graduation. A structured approach to problem solving, effective oral and written communications, and attention to standards and documentation are stressed throughout. Industry trends and requirements are continually monitored to ensure curriculum remains current and relevant.</p>
    </div>
    <div id="feature-picture" class="col-md-5">
        <img src="images/COPA_opt.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div id="feature-picture" class="col-md-5">
        <img src="images/GCCampus.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Georgian College:<span class="text-muted">Barrie</span></h2>
        <p class="lead">Georgian College is one of 24 publicly funded Colleges of Applied Arts and Technology in Ontario. Fostering a culture of entrepreneurship and innovation, Georgian prepares students to become not only job seekers, but also job creators. Georgian works together with industry and community partners to offer relevant, cutting-edge curriculum as well as quality work placements and co-op experiences.</p>
        <p>With more than 125 career-focused programs across seven locations in Central Ontario (Barrie, Midland, Muskoka, Orangeville, Orillia, Owen Sound and South Georgian Bay), Georgian serves 11,000 full-time students and 28,000 Part-time Studies registrants annually.</p>
    </div>
</div>
<hr class="featurette-divider">