<!--
File Name: footer.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://robertreynoldsassignment1.azurewebsites.net/
File Description: Partial for footer
-->    
    
    <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="Scripts/app.js"></script>
  </body>
</html>