<!-- Partial for nested media on about me -->

<hr class="featurette-divider">
<ul class="media-list" id="about-media">
  <li class="media">
    <div class="media-left">
        <img class="media-object" src="images/me.jpg" height="200px" width="150px" alt="Robert Reynolds">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Who Am I?</h4>
      <p>My name is Robert Reynolds. I'm 23 and live in Barrie, Ontario. I'm currently enrolled as a Computer Programmer Analyst student in my second year at Georgian College. </p>
      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="images/tt-logo.png" height="50px" width="150px" alt="TTBox Logo">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Co-op Experience</h4>
          <p>I completed my first Co-op placement as an I.T. Coordinator at a small locally owned store in Orillia.</p>
          <!-- Nested media object -->
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="images/gclogo.png" height="50px" width="50px" alt="GC Logo">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Currently..</h4>
              <p>I currently work as a Resident Advisor for the Georgian College Barrie Residence. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>