<!--
File Name: projectmedia.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://robertreynoldsassignment1.azurewebsites.net/
File Description: Partial for project media
-->

<hr class="featurette-divider">
<div class="media">
  <div class="media-left">
      <img class="media-object" src="images/drone.png" height="200px" width="200px" alt="Drone">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Modified DJI Phantom 2</h4>
    <p>Modifying my DJI Phantom 2 has been my favourite and most challening tech project. I've installed FPV Relays, multiple gimbals that support different payloads and modified arm engines.</p>
    <p>I've also upgraded several parts with more durable materials when repairing it after crashes. The most challenging part of this project would be modifying the firmware when running different arm engines.</p>
  </div>
</div>
<div class="media">
  <div class="media-left">
      <img class="media-object" src="images/rccar.jpg" height="185px" width="160px" alt="Arduino RC Car">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Arduino RC Car</h4>
    <p>During my first semester at Georgian College I took a course that involved programming Arduinos. I decided to make an Arduino RC Car. This project introduced me to robotics, which later heavily influenced my drone purchase and modifications.</p>
    <p>The RC Car was an incredibly fun opportunity to learn. I built the chassis from a kit, had to modify the wheel engines because the kit didn't include the proper ones and build the h-bridge for the motor control. I later installed a bluetooth shield that allowed me to control the car from an app on my phone.</p>
  </div>
</div>