<hr class="featurette-divider">
<div class="row featurette">
    <div id="feature-picture" class="col-md-5">
        <img src="images/orillia.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading"><i class="fa fa-fighter-jet"></i> Aerial Photography <span class="text-muted"></span></h2>
        <p class="lead">Over 200 hours of logged flights in diverse weather conditions. Multiple cameras available, such as DSLR or thermal, to meet various requests.</p>
        <p>Advanced photogrammetry software available to create 2D and 3D content. Visit the <a href="/contact">Contact Me</a> page for inquiries.</p>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette" id="left-feature">
    <div class="col-md-7" id="mid-feature">
        <h2 class="featurette-heading"><i class="fa fa-terminal"></i> Junior Programmer/Analyst<span class="text-muted"></span></h2>
        <p class="lead">Contributing to the completion of project deliverables and being accountable for the development, quality assurance, and support of the solution. Working closely with the Development Managers and Business Analysts to ensure code quality and accuracy.
        Developing unit test cases/criteria to verify all functionalities are working as intended. Following business requirements and implementing a set of specifications by coding, compiling, and testing the application.</p>
    </div>
    <div id="feature-picture" class="col-md-5">
        <img src="images/code.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>