<% include partials/header.ejs %>

    <!-- Main Content -->
    <main class="container" id="main-container">
        <h1><%= title %></h1>
        <h5>Learn me about me!</h5>
    </main>
    
<% include partials/nestedmedia.ejs %>
<% include partials/media.ejs %>
<% include partials/footer.ejs %>