<!--
File Name: about.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://robertreynoldsassignment1.azurewebsites.net/
File Description: about page
-->

<% include partials/header.ejs %>

    <!-- Main Content -->
    <main class="container" id="main-container">
        <h1><%= title %></h1>
        <h5>Learn me about me!</h5>
    </main>
    
<% include partials/nestedmedia.ejs %>
<% include partials/aboutmedia.ejs %>
<% include partials/footer.ejs %>