<% include partials/header.ejs %>

    <!-- Main Content -->
    <main class="container" id="main-container">
        <h1><%= title %></h1>
        <h5>Computer Programmer Analyst</h5>
    </main>

<% include partials/feature.ejs %>
<% include partials/footer.ejs %>