<!--
File Name: services.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://robertreynoldsassignment1.azurewebsites.net/
File Description: services page
-->

<% include partials/header.ejs %>

    <!-- Main Content -->
    <main class="container" id="main-container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %><p>
    </main>
    
<% include partials/servicemedia.ejs %>
<% include partials/footer.ejs %>