/* custom css file */

#main-container {
    margin: 0 auto;
    margin-top: -2em;
    margin-bottom: -1.5em;
    text-align: left;
    width: 500em;
}

#header-text {
    font-family: comic sans;
    font-variant: small-caps;
}

#contact-head {
    margin: 0 auto;
    text-align: left;
    width: 225px;
}

#contact-head-text {
    margin: 0 auto;
    text-align: left;
    width: 400px;
}

#left-feature {
    margin-left: 1em;
}